<% @long_title = "Redbubble Works - #{@title}" %>

<!DOCTYPE html>
<html>
<head>
  <title><%= @long_title %></title>
  <style type="text/css">
    body { font-family: Avenir, Futura, Verdana, sans-serif; width: 70%; margin: 40px auto; text-align: center; }
    header, #thumbs { margin: 20px auto; }
    h1 { margin-bottom: 40px;  }
    ul { padding-left: 0; list-style-type: none; }
    li { display: inline; margin: 0 10px; }
    #thumbs img { margin: 20px; }
  </style>
</head>
<body>
  <header>
    <h1><%= @long_title %></h1>

    <nav>
      <ul>
      <% for @link in @nav_links %>
        <li><a href="<%= @link.href %>"><%= @link.name %></a></li>
      <% end %>
    </ul>
    </nav>
  </header>

  <div id="thumbs">
    <% for @thumb in @thumbs %>
      <img src="<%= @thumb %>">
    <% end %>
  </div>

</body>
</html>
